################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Performance_Mgr.VC.db
/Performance_Mgr.VC.VC.opendb
/.vs/config/applicationhost.config
/Debug
/x64
/.vs/Performance_Mgr/v14/.suo
